<!DOCTYPE html>
<html>

<head>
  <style type="text/css">…</style>
  <link rel="stylesheet" media="all" href="/assets/application-d12397c….css" data-turbolinks-track="reload">
  <script src="/assets/application-114264d….js" data-turbolinks-track="reload"></script>
  <title>WebCampBackendNew</title>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="P3BF3RvS4bm3r2ea61tjbmFyz++eQyL+EKmtNHKVhfBZPVoVIc93QtDtHzX9ntf9PR8afR3x5vA548VAVoBclw==">
</head>

<body>
  <p id="notice"></p>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>リーダブルコード</td>

        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>

        <td>
          <a class="show_96356" href="/books/96356">Show</a>
        </td>

        <td>
          <a class="edit_96356" href="/books/96356/edit">Edit</a>
        </td>

        <td>
          <a data-confirm="Are you sure?" class="destroy_96356" rel="nofollow" data-method="delete" href="/books/96356">Destroy</a>
        </td>
      </tr>

      <tr>
        <td>トラブル知らずのシステム設計</td>

        <td>システム設計の要点を図解で説明してくれます</td>

        <td>
          <a class="show_96357" href="/books/96357">Show</a>
        </td>

        <td>
          <a class="edit_96357" href="/books/96357/edit">Edit</a>
        </td>

        <td>
          <a data-confirm="Are you sure?" class="destroy_96357" rel="nofollow" data-method="delete" href="/books/96357">Destroy</a>
        </td>
      </tr>

      <tr>
        <td>たのしいRuby</td>

        <td>Rubyの入門におすすめです</td>

        <td>
          <a class="show_96358" href="/books/96358">Show</a>
        </td>

        <td>
          <a class="edit_96358" href="/books/96358/edit">Edit</a>
        </td>

        <td>
          <a data-confirm="Are you sure?" class="destroy_96358" rel="nofollow" data-method="delete" href="/books/96358">Destroy</a>
        </td>
      </tr>

      <tr>
        <td>入門Git</td>

        <td>gitについての基本操作から内部構造まで解説してくれます</td>

        <td>
          <a class="show_96359" href="/books/96359">Show</a>
        </td>

        <td>
        <a class="edit_96359" href="/books/96359/edit">Edit</a>
        </td>

        <td>
          <a data-confirm="Are you sure?" class="destroy_96359" rel="nofollow" data-method="delete" href="/books/96359">Destroy</a>
        </td>
      </tr>

      <tr>
        <td>アルゴリズム図鑑</td>

        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>

        <td>
          <a class="show_96360" href="/books/96360">Show</a>
        </td>

        <td>
          <a class="edit_96360" href="/books/96360/edit">Edit</a>
        </td>

        <td>
          <a data-confirm="Are you sure?" class="destroy_96360" rel="nofollow" data-method="delete" href="/books/96360">Destroy</a>
        </td>
      </tr>

      <tr>
        <td>達人プログラマー</td>

        <td>プログラマ入門者は必読！</td>

        <td>
        <a class="show_96361" href="/books/96361">Show</a>
        </td>

        <td>
          <a class="edit_96361" href="/books/96361/edit">Edit</a>
        </td>

        <td>
          <a data-confirm="Are you sure?" class="destroy_96361" rel="nofollow" data-method="delete" href="/books/96361">Destroy</a>
        </td>
      </tr>

      <tr>
        <td>データベース実践入門</td>

        <td>効率的なSQL文を教えてくれます</td>

        <td>
          <a class="show_96362" href="/books/96362">Show</a>
        </td>

        <td>
          <a class="edit_96362" href="/books/96362/edit">Edit</a>
        </td>

        <td>
          <a data-confirm="Are you sure?" class="destroy_96362" rel="nofollow" data-method="delete" href="/books/96362">Destroy</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>New book</h2>

    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="zrz0uyT7WCSP7QK8WOvlOd06VYmkH7TX+D0p1fCeCs4mMtHk1okQenAf3v4Rw6YSf4vgTi60y8HwCibj85f52A==">

      <div class="field">
        <label for="book_title">Title</label>
        <input class="book_title" type="text" name="book[title]" id="book_title">
      </div>

      <div class="field">
        <label for="book_body">Body</label>
        <textarea class="book_body" name="book[body]" id="book_body"></textarea>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
      </div>
    </form>
</body>

</html>